#ashd {
  .container {
    /* position: static; */
  }
  .is-patreon {
    background-color: #f96753;
    color: #052a49;
  }

  .fa-patreon {
    color: #052a49;
  }

  .fa-patreon2 {
    color: #f96753;
  }

  .patreon-backers-background {
    background-color: rgba(249, 103, 83, 0.9);
    border-radius: 25px;
  }

  .patreon-mobile-margin {
    margin-right: 2%;
    margin-left: 2%;
  }

  .is-patreon:hover {
    color: #ffffff;
  }

  .fa-sun {
    color: #f1c40f;
  }

  .fa-moon {
    color: #2c3e50;
  }

  .fa-home {
    color: #007bb5;
  }

  .fa-palette {
    color: #8e44ad;
  }

  .fa-chrome {
    color: #27ae60;
  }

  .fa-mail {
    color: #fbbc05;
  }

  .fa-github {
    color: #24292e;
  }

  .fa-linkedin {
    color: #007bb5;
  }

  .fa-medium {
    color: #34a853;
  }

  .fa-whatsapp {
    color: #075e54;
  }

  .fa-puzzle-piece {
    color: #2c3e50;
  }

  .fa-donate {
    color: #f1c40f;
  }

  .fa-bitcoin {
    color: #f7931a;
  }

  .fa-ethereum {
    color: #3c599f;
  }

  .fa-paypal {
    color: #253b80;
  }

  .fa-download {
    color: #2c3e50;
  }

  .fa-telegram-plane {
    color: #0088cc;
  }

  .fa-discord {
    color: #7289da;
  }

  .fa-comment {
    color: #00d549;
  }

  .fa-user-secret {
    color: #333333;
  }

  .fa-cookie-bite {
    color: #51352d;
  }

  .fa-life-ring {
    color: #f7591a;
  }

  .fa-globe-americas {
    color: #007fbc;
  }

  .fa-envelope {
    color: #dd4a40;
  }

  .fa-flag-usa {
    color: #222954;
  }

  .fa-flag-ita {
    color: #009246;
  }

  svg.fa-github-alt {
    color: #333333;
  }

  .is-github {
    color: #333333;
    font-weight: bold;
  }

  .patreon-backer {
    border-radius: 25%;
    background-color: #ffffff;
    margin-right: 5px;
    width: 60px;
    height: 60px;
  }

  .logo-bg a {
    font-size: 24px;
  }
}
