#ptkdev {
	.is-patreon {
		background-color: #F96753;
		color: #052A49;
	}

	.fa-patreon {
		color: #052A49;
	}

	.fa-patreon2 {
		color: #F96753;
	}

	.patreon-backers-background {
		background-color: rgba(249,103,83, 0.9);
		border-radius: 25px;
	}

	.patreon-mobile-margin {
		margin-right: 2%;
		margin-left: 2%;
	}

	.is-patreon:hover {
		color: #ffffff;
	}

	.fa-sun {
		color: #F1C40F;
	}

	.fa-moon {
		color: #2C3E50;
	}

	.fa-home {
		color: #007bb5;
	}

	.fa-palette {
		color: #8E44AD;
	}

	.fa-chrome {
		color: #27AE60;
	}

	.fa-mail {
		color: #fbbc05;
	}

	.fa-github {
		color: #24292e;
	}

	.fa-linkedin {
		color: #007bb5;
	}

	.fa-medium {
		color: #34a853;
	}

	.fa-whatsapp {
		color: #075E54;
	}

	.fa-puzzle-piece {
		color: #2c3e50;
	}

	.fa-donate {
		color: #F1C40F;
	}

	.fa-bitcoin {
		color: #F7931A;
	}

	.fa-ethereum {
		color: #3C599F;
	}

	.fa-paypal {
		color: #253B80;
	}

	.fa-download {
		color: #2C3E50;
	}

	.fa-telegram-plane {
		color: #0088CC;
	}

	.fa-discord {
		color: #7289DA;
	}

	.fa-comment {
		color: #00D549;
	}

	.fa-user-secret {
		color: #333333;
	}

	.fa-cookie-bite {
		color: #51352D;
	}

	.fa-life-ring {
		color: #F7591A;
	}

	.fa-globe-americas {
		color: #007FBC;
	}

	.fa-envelope {
		color: #DD4A40;
	}

	.fa-flag-usa {
		color: #222954;
	}

	.fa-flag-ita {
		color: #009246;
	}

	svg.fa-github-alt {
		color: #333333;
	}

	.is-github {
		color: #333333;
		font-weight: bold;
	}

	.patreon-backer {
		border-radius: 25%;
		background-color: #ffffff;
		margin-right: 5px;
		width: 60px;
		height: 60px;
	}

	.logo-bg a {
		font-size: 24px;
	}

}