$primarywhite: #ffffff;
$secondarywhite: ghostwhite;
$primaryred: #ff0000;
$secondaryred: #ff4909;
$primaryblue: #46aef7;

html,
body {
	background-color: #46aef7
		/*radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%)*/;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #ffffff;
}

#ashd {
	a.url {
		color: $primaryred;
		font-weight: bold;
	}
	.fa-home {
		color: $primaryred;
	}

	a.url:hover {
		color: $primaryred;
		font-weight: bold;
	}

	.navbar-burger {
		color: $primaryred;
	}

	footer a.url {
		color: $primarywhite;
	}

	footer a.url:hover {
		color: $primarywhite;
	}

	.color-text {
		color: $primarywhite;
	}

	.color-text:hover {
		color: $primaryred;
	}

	.color-text-light {
		color: $primaryred;
	}

	.color-text-light:hover {
		color: $primaryred;
	}

	.navbar {
		background-color: $primarywhite;
		border-bottom: 1px solid $primaryred;
	}

	.color-background {
		background-color: $primarywhite;
	}

	a.color-background:hover {
		background-color: $primarywhite;
	}

	.color-background-footer {
		background-color: $primaryblue;
	}
	.is-theme-border {
		border-color: $primaryred;
	}

	.navbar-link:not(.is-arrowless)::after {
		border-color: $primaryred;
	}

	.link-animate::before {
		background-color: $primaryred;
	}

	a.link-animate {
		color: $primaryred;
	}

	a.link-animate:hover::before {
		background-color: $primaryred;
	}

	.logo-bg a {
		color: $primarywhite;
	}

	.cookielaw {
		color: $primaryred;
		background-color: $primarywhite;
	}

	.cookielaw .cookie-dismiss {
		color: $primarywhite;
		background-color: $primaryred;
	}

	.cookielaw .cookie-dismiss.url {
		color: $primarywhite;
		background-color: $primaryred;
	}

	.is-theme-navbar {
		border-color: $primarywhite;
		background-color: $primarywhite;
	}

	.content table td,
	.content table th {
		border-color: $primaryred;
	}

	.menu-icon-wrapper {
		svg {
			path {
				stroke: $primaryred;
			}
		}
	}

	.footer-txt {
		color: $primaryred;
	}
}
