$primaryblue: #46aef7;
$secondaryblue: #006699;
$primaryblack: #000000;
$secondaryblack: #0f0f0f;

html,
body {
	background-color: $primaryblack;
	color: #ffffff;
}

#ashd {
	a.url {
		color: $primaryblue;
		font-weight: bold;
	}

	a.url:hover {
		color: $primaryblue;
		font-weight: bold;
	}

	.fa-home {
		color: $primaryblue;
	}

	.navbar-burger,
	.nav-logo-text {
		color: #ffffff;
	}

	.navbar-menu {
		background-color: $secondaryblack;
	}

	.cookielaw a.url {
		color: $primaryblue;
		font-weight: normal;
	}

	.cookielaw a.url:hover {
		color: $primaryblue;
		font-weight: normal;
	}

	.color-text {
		color: $primaryblue;
	}

	.color-text:hover {
		color: $primaryblue;
	}

	.color-text-light {
		color: $secondaryblue;
	}

	.color-text-light:hover {
		color: $secondaryblue;
	}

	.navbar {
		border-bottom: 1px solid $primaryblue;
	}

	.color-background,
	.color-background-footer {
		background-color: $secondaryblack;
	}

	a.color-background:hover {
		background-color: $secondaryblack;
	}

	.navbar-link:not(.is-arrowless)::after {
		border-color: $primaryblue;
	}

	.link-animate::before {
		background-color: $primaryblue;
	}

	.link-animate:hover,
	.link-animate:visited,
	.link-animate:focus {
		background-color: $secondaryblack;
	}

	.logo-bg a {
		color: #ffffff;
	}

	.navbar-start a {
		color: #ffffff;
	}

	.cookielaw {
		background-color: $secondaryblack;
	}

	.cookie-dismiss.url,
	.cookie-dismiss.url:hover {
		background-color: #ffffff;
	}

	.is-theme-navbar {
		border-color: $primaryblack;
		background-color: $primaryblack;
	}

	.menu-icon-wrapper {
		svg {
			path {
				stroke: #ffffff;
			}
		}
	}

	.footer-txt {
		color: $primaryblue;
	}
}
