<!DOCTYPE html>
<html
	lang="{{ config.system.language }}"
	prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
	{% set page = { url: "/offline", title: translate.offline, description:
	translate.offline } %} {% include 'pages/commons/header.html' %}

	<body id="ashd" itemscope itemtype="http://schema.org/WebPage">
		<div id="particles-js"></div>

		{% include "pages/commons/menu.html" %}

		<div class="container">{% include "pages/offline/content.html" %}</div>
		{% include "pages/commons/footer.html" %}
		<script
			defer
			src="{{ config.site.fullurl }}/js/full.min.js?v={{ config.site.pwa.version }}"
		></script>
		{% include "pages/commons/services.html" %}
	</body>
</html>
