body {
  background: #fff;
  color: #798a9a;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* GENERAL */
h1,
h2,
h3,
h4,
h5 {
  color: #2c3e50;
  font-weight: 200;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #57d131;
}

a:hover,
a:focus,
a:active {
  color: #4ebe2a;
  text-decoration: none;
}

/* BackToTop component styles*/
.back-to-top {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.175rem 0.55rem;
  line-height: 1.1;
  border-radius: 0.25rem;
  border-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.4s, visibility 0.4s;

  &.show-back-to-top {
    opacity: 1;
    visibility: visible;
  }
}

/* NAVBAR */

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff;
  transition: top 0.3s;
}
.hide {
  top: -40px;
}

.site-navbar.bg-light {
  background: transparent !important;
}
@media (max-width: 991.98px) {
  .site-navbar.bg-light {
    background: #fff !important;
    top: 0;
  }
}
.site-navbar .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}
.site-navbar .navbar-nav.active > a {
  color: #57d131 !important;
}

/* HERO */

.site-hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.site-hero,
.site-hero .row {
  height: 100vh;
  min-height: 700px;
}
.site-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}
.site-hero h1 strong {
  font-weight: 800;
}
@media (min-width: 768px) {
  .site-hero h1 {
    font-size: 70px;
  }
}
.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}
.site-section {
  padding: 5em 0;
}

/* VIDEO BACKGROUND*/

#videoBG {
  position: absolute;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
/* BUTTONS */

.aws-btn--primary {
  --button-default-border-radius: 100px;
  --button-primary-color: #0262c8;
  --button-primary-color-dark: #024892;
  --button-horizontal-padding: 3px;
  --button-raise-level: 3px;
}
.aws-btn--secondary {
  --button-default-border-radius: 100px;
  --button-horizontal-padding: 3px;
  --button-raise-level: 3px;
}
.btn {
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  white-space: nowrap;
}

.btn:hover {
  color: #fff;
}

.smoothscroll {
  margin-right: 2%;
}

/* ABOUT ME */

.my-image {
  margin-left: 10%;
  width: 75%;
  box-shadow: 10px 10px 5px #ccc;
}

.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}

.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}

.section-heading h2 strong {
  font-weight: 800;
}

.section-heading h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background: #007bff;
  z-index: -1;
}

.section-heading.text-center h2:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lead {
  font-weight: 200;
  line-height: 1.5;
}

.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px;
}

.progress .progress-bar {
  background-color: #007bff;
  position: relative;
  border-radius: 4px;
}

.progress .progress-bar span {
  background-color: #007bff;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 3px 2px 4px;
  right: -1.4em;
  border-radius: 2px;
}

.progress .progress-bar span:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #007bff;
  border-width: 5px;
  margin-left: -5px;
}

.skill h3 {
  font-size: 18px;
}

/* FREELANCER BANNER */

.section-banner {
  background-color: #0075f6;
  padding: 7em 0;
}

.section-banner h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}

.section-banner h2 span {
  font-weight: 800;
}

/* PROJECTS */

.carousel-img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.slick-active:focus {
  cursor: grabbing;
}

.slick-active:hover {
  cursor: grab;
}

.slick-arrow {
  background-color: #007bff;
}

/* CONTACT */
.form-control {
  border: none !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

.site-form .form-control {
  border: 1px solid #b3bdc6;
}

.site-contact-details,
.site-contact-details li {
  padding: 0;
  margin: 0;
}

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px;
}
.site-contact-details li > span {
  color: #2c3e50;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
